/* debug */

/* #pink {
    height: 80px;
    background-color: #E579E6;
}

#yellow {
    height: 200px;
    background-color: #E1D67A;
} */

/* #top {
    height: 60px;
    background-color: #ABCFE7;
    margin-bottom: 15px;
}

#left {
    width: 23%;
    height: 500px;
    margin-bottom: 10px;
    background-color: #ABCFE7 ;
    float: left;
}

#right {
    width: 23%;
    height: 500px;
    margin-bottom: 10px;
    background-color: #ABCFE7 ;
    float: left;
}

#centre {
    width: 50%;
    height: 500px;
    margin: 0 2%;
    background-color: #ABCFE7;
    float: left;
} */

/* /debug */

/* common */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#pink , #yellow {
    margin-top: 10px;
}

.blu-box {
    height: 500px;
    margin-bottom:10px ;
    background-color: #ABCFE7;
    float: left;
}

/* header */

#pink {
    height: 80px;
    background-color: #E579E6;
}

#yellow {
    height: 200px;
    background-color: #E1D67A;
}

header {
    margin:0 auto;
    width: 70%;
}

/* main */

main::after {
    content:"";
    display: table;
    clear: both;
}

main{
    margin: 0 auto;
    width: 70%;
    margin-top: 10px;
    background-color: #008AFE;
}

#top {
    height: 60px;
    background-color: #ABCFE7;
    margin-bottom: 15px;
}

#left , #right {
    width: 23%;
}

#centre {
    width: 50%;
    margin: 0 2%; 
}

/* footer */

