/* debug */

/* #pink {
    height: 80px;
    background-color: #E579E6;
}

#yellow {
    height: 200px;
    background-color: #E1D67A;
} */
/* /debug */

/* common */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* header */

#pink {
    height: 80px;
    margin-top: 10px;
    background-color: #E579E6;
}

#yellow {
    height: 200px;
    margin-top: 10px;
    background-color: #E1D67A;
}

header {
    margin:0 auto;
    width: 70%;
}

/* main */
/* footer */